@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

/*color*/

:root{
  --orange:#f59b42;
  --black:#030202;
  --grey:#6e6d6b;
  --box-shadow:0.5rem 1.5rem rgba(0,0,0,.1);
}


/* set up nunito fonts  */

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

/* HTML test  */

html{
  font-size: 70%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

/* header */

header{
  position: fixed;
  top:0; left: 0; right:0;
  background: #fff;
  padding:1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

/*logo text*/

header .logo{
  color:var(--black);
  font-size: 2.5rem;
  font-weight:bolder;
}

/*logo icon configureation, later on the one more function to make it more appearling p1*/

header .logo i{
  color:var(--black);
  font-size: 2.5rem;
  font-weight:bolder;
}

/* This is the icon's color */

header .logo i{
  color:var(--orange)
}

/* Navigation bar */

header .navbar a{
  font-size: 2.0rem;
  border-radius: .5rem;
  padding:.5rem 1.5rem;
  color:var(--grey);
}

/*hover effect you know to make it cooler ofcourse*/
/*home will be on static focus color as it is the main page of the website*/

header .navbar a.active,
header .navbar a:hover{
  color:#fff;
  background: var(--orange);
}

/*this part is for the right side icons of the home page p2*/

header .icons i,
header .icons a{
  cursor: pointer;
  margin-left: .5rem;
  height:4.5rem;
  line-height: 4.5rem;
  width:4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color:var(--black);
  border-radius: 50%;
  background: #fff;
}

/*hover effect for the icons*/
/*this code here make them making the rotate effects when you hover ove them*/

header .icons i:hover,
header .icons a:hover{
  color:#fff;
  background: var(--green);
  transform: rotate;
}

header .icons #menu-bars{
  display: none;

}

/* fit with tablet or smartphone, baiscally smaller screen than a pc */
/* media queries */

@media (max-width:991px){

  html{
    font-size:55%;
  }

  header{
    padding:1rem 2rem;
  }
}

@media (max-width:768px){

  header .icons #menu-bars{
    display: inline-block;
  }

  header .navbar{
    position: absolute;
    top:0; left:0; right:0;
    background:#fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    padding:1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  /* drop menu on the phone */

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar a{
    display: block;
    padding:1.5rem;
    margin:1.5rem;
    font-size: 2rem;
    background: #eee;
  }
}

/*search button on the homepage*/

#search-form{
  position: fixed;
  top:-110%; left:0;
  height:100%; width:100%;
  z-index: 1004;
  background: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0 1rem;
}

#search-form #search-box{
  width:50rem;
  border-bottom: .1rem solid #fff;
  padding:1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background:none;
}

#search-form #search-box::placeholder{
  color:#fff;

}

#search-form #search-box::-webkit-search-cancel-button{
  -webkit-appearance: none;
}

#seach-form label{
  color: #fff;
  cursor:pointer;
  font-size: 3rem;
}

#search-form label:hover{
  color:var(--orange);
}

/* way to close when user is in the toggle pop up */

#search-form #close{
  position: absolute;
  color:#fff;
  cursor:pointe;
  top: 2rem; 
  right: 3rem;
  font-size: 5rem;
}
